.footer-bg {
  background-color: var(--cor-12);
}

.footer {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  padding-top: 60px;
  gap: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  margin-right: 100px;
}

.footer-contatos h2 {
  margin-bottom: 40px;
}

.footer-contatos ul li {
  margin-bottom: 20px;
}

.footer-contatos ul li:nth-child(even) {
  border-bottom: solid 2px var(--cor-11);
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.footer-contatos ul {
  padding-bottom: 10px;
}

.footer-contatos div {
  display: flex;
  gap: 30px;
}

.footer-informacao {
  margin-left: 50px;
}

.footer-informacao h2 {
  margin-bottom: 40px;
}

.footer-informacao ul li {
  margin-bottom: 20px;
}

.footer-contatos a,
.footer-informacao a {
  color: var(--cor-5);
}

.footer-contatos a:hover {
  color: var(--cor-0);
}

.footer-informacao a:hover {
  color: var(--cor-0);
}

.footer p {
  grid-column: 1 / -1;
}

@media (max-width: 800px) {
  .footer {
    grid-template-columns: 1fr;
  }

  .footer-informacao {
    margin-left: 0px;
  }
}
