body {
  margin: 0px;
}

:root {
  font-family: Poppins, Fira_Sans, Arial, Helvetica, sans-serif;
  margin: 0px;
  --fundo-preto: #000000;
  --detalhes-amarelo: #ffb217;
  --texto-cinza: #b2b2b2;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

img {
  max-width: 100%;
  display: block;
}
