.introducao {
  padding-bottom: 200px;
  position: relative;
}

.introducao-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 30px;
  align-items: center;
  gap: 40px;
}

.introducao-titulo {
  font-size: 4.5rem;
  margin-bottom: 10px;
  color: #ffffff;
}

.introducao-texto {
  font-size: 1.6rem;
  color: var(--texto-cinza);
  line-height: 2.2rem;
}

.introducao-conteudo {
  display: grid;
  gap: 20px;
  place-items: start;
  padding-bottom: 80px;
  position: relative;
}

.introducao-botao {
  color: #332200;
  background: var(--detalhes-amarelo);
  padding: 18px 28px;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: 530;
}

.ponto-final {
  color: var(--detalhes-amarelo);
}

.introducao-botao:hover {
  background: #db9914;
}

.introducao-botao::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background: url("/img/dec/bottom-left.svg") no-repeat;
  position: absolute;
  left: -330px;
  top: 380px;
}

@media (max-width: 1190px) {
  .introducao-titulo {
    font-size: 3.5rem;
  }
  .introducao-texto {
    font-size: 1.5rem;
  }
}

@media (max-width: 950px) {
  .introducao-titulo {
    font-size: 3rem;
  }
  .introducao-texto {
    font-size: 1.3rem;
  }
}

@media (max-width: 830px) {
  .introducao-container {
    display: grid;
    grid-template-columns: auto;
  }

  .introducao-img {
    display: none;
  }
}

@media (max-width: 675px) {
  .introducao-conteudo {
    margin-top: 20px;
  }
}

