.tecnologia-container {
  background: #121212;
  height: 950px;
  margin-top: 200px;
}

.tecnologia-elementos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
  height: 1000px;
}

.tecnologia-conteudo {
  padding-top: 90px;
}

.tecnologia-img {
  position: relative;
  grid-column: 2;
  height: 100%;
  top: -20px;
  border-radius: 4px;
}

.tecnologia-titulo {
  color: var(--texto-cinza);
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.tecnologia-texto-grande {
  color: #ffffff;
  font-size: 4rem;
  font-weight: 550;
}

.tecnologia-ponto-final {
  color: var(--detalhes-amarelo);
}

.tecnologia-texto {
  font-size: 1.2rem;
  margin-top: 30px;
  margin-bottom: 20px;
  color: var(--texto-cinza);
}

.tecnologia-botao {
  font-size: 1.4rem;
  color: var(--detalhes-amarelo);
  border-bottom: 2px solid var(--detalhes-amarelo);
  padding: 5px 0px;
}

.tecnologia-botao:hover {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}

.tecnologia-menu {
  display: flex;
  padding-top: 120px;
  gap: 20px;
}

.tecnologia-menu-titulo {
  color: #ffffff;
  font-size: 1.2rem;
  padding-bottom: 5px;
  font-weight: 500;
}

.tecnologia-texto-menu {
  font-size: 1rem;
  color: var(--texto-cinza);
  line-height: 22px;
}

.tecnologia-menu-titulo {
  content: "";
  width: 50px;
  height: 50px;
}
