.header-bg {
  background: var(--cor-12);
}

.header {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 25px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  color: var(--cor-0);
  padding: 15px 0px;
  display: inline-block;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background: var(--cor-0);
  margin-top: 2px;
  position: absolute;
}

.header-menu a:hover::after {
  width: 100%;
  transition: 0.5s;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }

  .header a:after {
    display: none;
  }

  .header-menu a {
    background: var(--cor-11);
    border-radius: 4px;
    padding: 15px 15px;
  }

  .header-menu a:hover {
    background: var(--cor-10);
  }
}

@media (max-width: 605px) {
  .header {
    flex-direction: column;
    padding-top: 40px;
  }
}

@media (max-width: 395px) {
  .header-menu {
    flex-direction: column;
  }
}
