.tecnologia-bg {
  background: #121212;
  box-shadow: inset 0 80px var(--cor-0), inset 0 -80px var(--cor-0);
}

.tecnologia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.tecnologia-conteudo {
  padding-top: 150px;
  padding-bottom: 155px;
}

.tecnologia-conteudo > span {
  display: block;
  margin-bottom: 20px;
}

.tecnologia-conteudo h2 {
  margin-bottom: 20px;
}

.tecnologia-conteudo > p {
  margin-bottom: 20px;
}

.tecnologia-link {
  font-size: 1.4rem;
  color: var(--detalhes-amarelo);
  border-bottom: 2px solid var(--detalhes-amarelo);
  padding: 5px 0px;
}

.tecnologia-link:hover {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}

.tecnologia-menu {
  display: flex;
  gap: 40px;
  padding-top: 80px;
}

.tecnologia-imagem img {
  height: 100%;
  object-fit: cover;
  object-position: left;
}

@media (max-width: 800px) {
  .tecnologia-bg {
    box-shadow: initial;
  }

  .tecnologia-imagem img {
    display: none;
  }
  .tecnologia {
    grid-template-columns: 1fr;
  }
  .tecnologia-conteudo {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .tecnologia-conteudo > span {
    display: block;
    margin-bottom: 10px;
  }

  .tecnologia-conteudo h2 {
    margin-bottom: 10px;
  }

  .tecnologia-conteudo > p {
    margin-bottom: 10px;
  }
  .tecnologia-menu {
    padding-top: 60px;
  }
}

@media (max-width: 600px) {
  .tecnologia-link {
    font-size: 1.2rem;
  }
  .tecnologia-menu {
    flex-direction: column;
  }
}
