.seguros-vantagensbg {
  background: var(--cor-12);
}

.seguros-vantagens ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 100px;
  gap: 40px 80px;
}

.seguros-vantagens h2 {
  padding-top: 100px;
  margin-bottom: 80px;
}

.seguros-vantagens ul h3,
.seguros-vantagens ul img {
  margin-bottom: 10px;
}

.seguros-perguntas {
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
}

.seguros-perguntas h2 {
  margin-bottom: 60px;
}

.seguros-perguntas div {
  padding: 30px 30px 30px 30px;
}

.seguros-perguntas dt {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  cursor: pointer;
}

.seguros-perguntas dd {
  max-width: 80ch;
  margin-left: 22px;
}

.seguros-perguntas div:nth-child(even) {
  background-color: var(--cor-1);
  border-radius: 4px;
}

.seguros-perguntas div dt::before {
  content: "";
  width: 12px;
  height: 8px;
  display: block;
  background: var(--cor-p1);
  align-self: center;
  margin-right: 10px;
}

.seguros-perguntas div dt::after {
  content: "";
  width: 15px;
  height: 6px;
  display: block;
  background: url(/img/icones/seta-abrir.svg) no-repeat;
  align-self: center;
  transition: transform 0.3s;
}

.seguros-perguntas div dt:hover::after {
  transform: rotate(180deg);
}

@media (max-width: 800px) {
  .seguros-vantagens ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .seguros-vantagens ul {
    grid-template-columns: 1fr;
  }
}
