.seguros-bg {
  background: var(--cor-11);
}

.seguros-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1160px;
  margin: 0 auto;
  gap: 40px;
  align-items: center;
  padding: 80px 20px 100px 20px;
}

.seguros-container h2 {
  margin-bottom: 20px;
}

.seguros-ouro,
.seguros-prata {
  background: var(--cor-12);
  display: grid;
  grid-template-columns: 1fr auto;
  place-items: start;
  padding: 30px 30px 30px 60px;
  border-radius: 4px;
  gap: 10px;
}

.seguros-prata ul {
  grid-column: 1 / -1;
  font-size: 1.2rem;
}

.seguros-prata a {
  grid-column: 1 / -1;
}

.seguros-prata {
  grid-column: 1;
}

.mensal {
  font-size: 0.8rem;
  display: block;
  color: var(--cor-6);
  text-align: end;
}

.seguros-prata ul,
li {
  margin-bottom: 10px;
}

.seguros-prata ul li {
  margin-bottom: 15px;
  position: relative;
}

.seguros-prata a {
  background: var(--cor-10);
  color: var(--cor-0);
}

.seguros-prata a:hover {
  background: var(--cor-9);
}

.seguros-ouro ul,
li {
  margin-bottom: 10px;
  font-size: 1.2rem;
  position: relative;
}

.seguros-ouro ul {
  grid-column: 1 / -1;
}

.seguros-ouro a {
  grid-column: 1 / -1;
}

.seguros-ouro h3 {
  margin-bottom: 20px;
}

.seguros-ouro ul li {
  margin-bottom: 15px;
}

.seguros-prata ul li:before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 9px;
  background-image: url(../../img/icones/lista.svg);
  position: absolute;
  left: -20px;
  top: 8px;
}

.seguros-ouro ul li:before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 9px;
  background-image: url(../../img/icones/lista.svg);
  position: absolute;
  left: -20px;
  top: 8px;
}

@media (max-width: 800px) {
  .seguros-container {
    grid-template-columns: 1fr;
  }
}
